
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    background-color: antiquewhite;
    color: black;
}

h1{
    background-color: rgb(229, 187, 82);
    margin: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: dotted rgb(248, 248, 245) 3px;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(84, 60, 1);
}
h2 {
    margin-right: 30p;
}
a {
    color: darkgoldenrod;
}

.image {
    width: 300px;
    height: auto;
    margin-left: 5px;
}

.header {
    font-size: xx-large;
    font-stretch: extra-expanded;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list {
    text-align: center;
    margin: 40px 200px;
    background-color: rgb(248, 220, 169);
    padding: 30px;
    box-shadow: 3px 3px 2px 2px;
    transition: all 1s ease;
}
.list:hover {
    margin: 40px 100px;
    transition: 1s;
}

.info {
    padding-bottom: 5px;
    margin-left: 10px;

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: rgb(192, 146, 29);
}